.criminalsList, .witnessesList, .facilitiesList, .officersList, .notesContainer, .filters, .data-buttons, header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.notesContainer {
    align-content: flex-start;
}

.criminal, .witness, .note, .facility, .officer {
    border: 1px dotted black;
    margin: 0.5rem;
    padding: 0.5rem;
    flex-basis: 25%;
}

.investigation {
    display: flex;
}

.criminalsContainer {
    flex: 3
}

.notesContainer {
    flex: 1
}
